<%# Header %>
<header class="pt-2 pb-2">
    <div class="text-center">
        <a class="display-4 text-white text-decoration-none" href="#">Check Racun</a>
    </div>
</header>
<%# Jumbotron %>
<div class="jumbotron">
    <h3 class="display-4">Do you know?</h3>
    <p class="lead jumbotron-text">If the slimming pills you're taking contain dangerous chemicals? <br/>If that whitening cream you're interested in has mercury? <br/> Find out which products has been categorized as unsafe by the National Pharmaceutical Regulatory Agency(NPRA) of Malaysia and be a smarter shopper.<br/>These products include complementary and traditional medicines that are registered or unregistered as well as cosmetic products.<br/>All information was extracted from the NPRA <a href="https://www.npra.gov.my/index.php/en/consumers.html">website</a>.</p>
</div>
<main class="container">
    <%# Tables %>
    <%# Registered Products %>
    <div class="row flex-nowrap justify-content-between align-items-end border-bottom">
        <h2 class="font-weight-bold font-italic">Registered Products</h2>
        <%= form_with url: root_path, class: "form-inline",method: "GET" do |f| %>
            <%= f.text_field :registered_search, placeholder: "Search", class: "form-control mb-2" %>
        <% end %>
    </div>
    <div class="mt-3" id="registered-products">
        <%= render partial: "home/registered" %>
    </div>
    <%# Unregistered Products %>
    <div class="row flex-nowrap justify-content-between align-items-end border-bottom">
        <h2 class="font-weight-bold font-italic mt-4">Unregistered Products</h2>
        <%= form_with url: root_path, class: "form-inline",method: "GET" do |f| %>
            <%= f.text_field :unregistered_search, placeholder: "Search", class: "form-control mb-2" %>
        <% end %>
    </div>
    <div class="mt-3" id="unregistered-products">
        <%= render partial: "unregistered" %>
    </div>
    <%# Cosmetic Products%>
    <div class="row flex-nowrap justify-content-between align-items-end border-bottom">
        <h2 class="font-weight-bold font-italic mt-4">Cosmetic Products</h2>
        <%= form_with url: root_path, class: "form-inline",method: "GET" do |f| %>
            <%= f.text_field :cosmetics_search, placeholder: "Search", class: "form-control mb-2" %>
        <% end %>
    </div>
    <div class="mt-3" id="cosmetic-products">
        <%= render partial: "cosmetics" %>
    </div>
</main>
<footer>
    <p class="footer-text">Developed by Sampras Lee</p>
    <address>
        Contact me :
        <span><a href="mailto:sampras.lee8@gmail.com" class="contact-info"><i class="far fa-envelope"></i></a></span>
        <span class="linkedin"><a href="https://www.linkedin.com/in/sampraslee/" target="_blank" class="contact-info"><i class="fab fa-linkedin"></i></a></span>
        <span class="github"><a href="https://github.com/sampraslee" target="_blank" class="contact-info"><i class="fab fa-github-square"></i></a></span>
    </address>
</footer>